<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="message" class="test.ObjectMessage">
        <constructor-arg value="1" />
        <constructor-arg value="Message Hi" />
    </bean>

    <bean id="logger" class="test.EventLogger"/>

    <bean  id="app" class="test.App">
        <constructor-arg ref="message"/>
        <constructor-arg ref="logger"/>
    </bean>
</beans>